# ============================================================
# Copier ce fichier en .env et remplir les valeurs
# ============================================================

APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

DATA_RAW_DIR=data/raw
DATA_PROCESSED_DIR=data/processed
MODELS_DIR=models

TRAIN_CYCLES=2000
RANDOM_STATE=42

MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=maintenance-predictive

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
